@model MySeries.Web.Models.SeriesAboutViewModel

@{
    ViewBag.Title = "About";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <hr />
        @using (Html.BeginForm("About", "Series",
                    FormMethod.Post, new { @id = "form1" }))
        {
            <p>@Html.DisplayNameFor(model => model.Summary): @Html.DisplayFor(model => model.Summary)</p>
             <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.Subscribed, new { onchange = "$('#form1').submit(); " }) Subscription
            </label>
                @Html.HiddenFor(model => model.Id)
                }


                <table class="table table-hover tablica">
                    <tr>
                        <th>Season and Episode</th>
                        <th>Realease Date</th>
                    </tr>
                    @foreach (var item in Model.Episodes)
                    {
                        <tr>
                            <td>
                                S @Html.DisplayFor(modelItem => item.Season) E @Html.DisplayFor(modelItem => item.EpisodeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </td>

                        </tr>
                    }

                </table>
    <table class="table table-hover tablica">
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var item in Model.Actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                </td>

            </tr>
        }

    </table>









</div>
<p>
    @Html.ActionLink("Back", "All")
</p>

<script type="text/javascript">

    $(".check").click(function () {
        $("#form1").submit();
    });
</script>
