@model MySeries.Web.Models.SeriesAboutViewModel

@{
    ViewBag.Title = "About";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <hr />
    @using (Html.BeginForm("About", "Series",
            FormMethod.Post, new { @id = "form1" }))
    {
        @Html.CheckBoxFor(model => model.Subscribed, new { onchange = "$('#form1').submit(); " }) 
        @Html.HiddenFor(model=> model.Id)
    }

    <p>@Html.DisplayNameFor(model => model.Summary): @Html.DisplayFor(model => model.Summary)</p>
            
    <table class="table">
        @foreach (var item in Model.Episodes)
            {
            <tr>
                <td>
                    S @Html.DisplayFor(modelItem => item.Season) E @Html.DisplayFor(modelItem => item.EpisodeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>

            </tr>
        }

    </table>



</div>
<p>
    @Html.ActionLink("Back", "All")
</p>

<script type="text/javascript">

    $(".check").click(function () {
        $("#form1").submit();
    });
</script>
