@model MySeries.Web.Models.ActorAboutViewModel

@{
    ViewBag.Title = "About";
}

<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

<div>
    <hr />
    <section id="series">

        <ul class="series-list">
            @foreach (var item in Model.Series)
            {
                <li>
                    <a href="@Url.Action("About", "Series" , new { seriesId = item.Id})">
                        <h2 class="title1">@Html.DisplayFor(modelItem => item.Name)</h2>
                    </a>
                </li>
            }
        </ul>
    </section>
</div>
<p>
    @Html.ActionLink("Back", "Actors")
</p>
