@model MySeries.Web.Models.EpisodeAboutViewModel

@{
    ViewBag.Title = "About";
}



<h2>@Html.DisplayFor(model => model.Series)</h2>

<div>
    <hr />
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <h5>Season: @Html.DisplayFor(model => model.Season)</h5>
    <h5>Episode: @Html.DisplayFor(model => model.EpisodeNumber)</h5>
    <hr />
    
</div>

<div>
    @using (Html.BeginForm("About", "Episode",
    FormMethod.Post, new { @id = "form2" }))
    {
        <label class="checkbox-inline">
            @Html.CheckBoxFor(model => model.Watched, new { @onchange = "checkBoxChanged()", id = "check1" }) Watched
        </label>
            @Html.HiddenFor(model => model.Id)
            @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", row = "3" })
            <input type="submit" class="btn btn-default" value="Submit" />


            }
</div>
<p>
    @Html.ActionLink("Back", "MyEpisodes")
</p>

<script type="text/javascript">
    function checkBoxChanged() {
        if (document.getElementById('check1').checked) {
            $(".form-control").show();
        } else {
            $(".form-control").hide();
        }
    }

    $(document).ready(checkBoxChanged());
</script>