 @model IEnumerable<MySeries.Web.Models.EpisodeViewModel>

@{
    ViewBag.Title = "MyEpisodes";
}

<section id="episodes">
    <h1>My Episodes</h1>

    <ul class="episodes-list">
@foreach (var item in Model)
{
        <li>
            <a href="@Url.Action("About", "Episode" , new { episodeId = item.Id})" style="background-color: @(item.Watched ? "#ffcccc":"#ccffcc")">
                <h2 class="title">@Html.DisplayFor(modelItem => item.Season).@Html.DisplayFor(modelItem => item.EpisodeNumber)   @Html.DisplayFor(modelItem => item.Series)</h2>
                <p class="ep-name"> @Html.DisplayFor(modelItem => item.Name)</p>
                <p class="date">@Html.DisplayFor(modelItem => item.ReleaseDate)</p>
            </a>
        </li>
}
    </ul>
</section>



